<section>
    <div class="page-header">
        <h1>Job Experience</h1>
    </div>			
	<div class="row">
        <div class="">
            <a class="btn btn-lg pull-right" ng-href="/#!/userjobs/create">
                <i class="glyphicon glyphicon-plus"></i> Add new
            </a>
        </div>
    </div>
  <div data-ng-controller="UserjobsController" data-ng-init="find()">
    <div ng-repeat="userjob in userjobs | orderBy:'created':true | filter:search" ng-class-odd="'odd'" ng-class-even="'even'" class="list-group-item" data-num-pages="numPages()">
       
    <div class="list-group">
        <div class="header">
            <h4 ng-bind="userjob.companyName"></h4>
        </div><hr>
        <small>
            <em class="text-muted">
            Posted on
            <span ng-bind="userjob.created | date:'mediumDate'"></span>
            </em>
        </small><br/><br/>
	<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="">Title:</label>
			<div class="col-md-8">
                <span ng-bind="userjob.title"></span>
			</div>
	</div><br/>
	
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="inputArticleTitle">Description:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <span ng-bind="userjob.desc"></span>
				</div>
			</div>
	</div><br/>
    
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="inputArticleTitle">Reference:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <span ng-bind="userjob.reference"></span>
				</div>
			</div>
	</div><br/>
	
		<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Contact Information:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <p> Phone:
                        <span ng-bind="userjob.refPhone"></span>
                        , Email:
                        <span ng-bind="userjob.refEmail"></span>
                    </p>
				</div>
			</div>
	</div>
    
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Address:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <p>
                    <span ng-bind="userjob.address1"></span>
                    <span ng-bind="userjob.address2"></span>
					</p>
				</div>
			</div>
	</div>	
		
	<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Location:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <p>
                    <span ng-bind="userjob.city"></span>,
                    <span ng-bind="userjob.state"></span>,
                    <span ng-bind="userjob.country"></span> -
                    <span ng-bind="userjob.zip"></span>
					</p>
				</div>
			</div>
	</div>
   </div>			
	<div class="submit" ng-show="authentication.user"  data-ng-init="findOne()">
        <div class="">
            <a class="btn btn-primary" ng-href="/#!/userjobs/userjobs/{{userjob._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>
    </div>
  </div>
 </div><br/><br/><br/>
</section>
