
	<header id="top">
      <div class="header-content-inner text-center">
		<h2 id="homeHeading">Talent to Task</h2>
		<h2 id="homeHeading">Ideas to Action</h2>
	  </div>
	   <div class="text-center"  ng-controller="JobsController">
		<a id="jobs"  ng-href="/#!/jobs/create"><button class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-briefcase glyphicon-x"></i> Post Task </button></a>
		<a id="profile" ng-href="/#!/userprofiles/setting"><button class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-user glyphicon-x"></i> Post Talent </button></a><hr>
	   </div><!-- /input-group -->
	</header>