<section><br/><br/>
  <div class="jumbotron text-center" ng-controller="HeaderController as vm">
    <div class="row" ng-hide="vm.authentication.user">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
    <div data-ng-controller="JobsController" data-ng-init="find()">
    <div>
	<div class="input-group">
		<span class="input-group-btn btn-group" uib-dropdown keyboard-nav>
			<button class="btn btn-default" type="button" ng-click="view = !view"><i class="glyphicon glyphicon-filter"></i> Filters</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
				<li ng-model="search.category"><a value="category">Category</a></li>
				<li role="separator" class="divider"></li>
				<li ng-model="search.state"><a  value="state">Location</a></li>
			</ul>
		</span>
		<input type="text" ng-model="search.$" class="form-control" placeholder="Search by keyword e.g., music...">
		<span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
		</span>
        </div>
	</div><br/>


          <div class="page-header">
            <h1>Talent List</h1>
          </div>
  <div class="alert alert-warning text-center" data-ng-hide="!userprofiles.$resolved || userprofiles.length">
                No Products yet, why don't you <a href="/#!/userprofiles/create">create one</a>?
            </div>
          <div class="page-footer">
            
          </div>
        </div>


  <div class="well">
    <h2>Services</h2>
    <p>
      Once you're familiar with what we do, register and check out the Task Modules. 
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">About us</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Contact</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Business</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Universities</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Marketing</a>
        </li>
      </ul>
    </p>
  </div><br/><br/>

  		
	<div class="navbar-default navbar-bottom navbar-fixed-bottom">
	  <div class="container-fluid text-center">
		<p class="text">website design/ logo <i class="glyphicon glyphicon-copyright-mark"></i> 2016 Ujobi Inc. </p>
	  </div>
	</div>
  			<div ng-include="'/modules/core/client/views/footer.client.view.html'" class="">
			</div>
</section>
