<section data-ng-controller="JobsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="job.companyName"></h1>
    <p>{{ job.category }}</p>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="job.posted_at | date:'mediumDate'"></span>
      by
      <span ng-if="job.user" ng-bind="job.user.displayName"></span>
      <span ng-if="!job.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="job.jobTitle">Description:</p>
  <p class="lead" ng-bind="job.jobDescription">Description:</p>
  <p class="lead" ng-bind="job.taskDuration">Duration(hours): {{job.taskDuration}}</p>
  <p class="lead" ng-bind="job.startDate | date:'mediumDate'">Start Date: {{job.startDate}}</p><hr>
	
	<!-- Text input-->
	<div class="row">
		<div class="">
		<label class="col-md-4 control-label" for="">Position:</label>
			<div class="col-md-8">
					<p>{{job.position}}</p>
			</div>
		</div>
	</div>
	
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="inputArticleTitle">Category:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.category}}<p>
				</div>
			</div>
	</div>
	
		<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Module Name:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.moduleName}}<p>
				</div>
			</div>
	</div>
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Task Duration:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.taskDuration}}<p>
				</div>
			</div>
	</div>
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Location:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.city}} , {{job.state}} - {{job.zipcode}}<p>
				</div>
			</div>
	</div>	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle">Contact:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>Email - {{job.email1}} &nbsp or &nbsp Phone - {{job.phone1}}<p>
				</div>
			</div>
	</div>
	<legend></legend>	
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Skills required:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.skills}}<p>
				</div>
			</div>
	</div>
	
	<legend></legend>
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-sm-4 control-label" for="inputArticleTitle"><h4>Job brief</h4></label>
			<div class="col-sm-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.jobDescription}}<p>
				</div>
			</div>
	</div>
		
	<legend></legend>
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Responsibilities - Scope of task</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.resp}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
		
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Features to add on the module </h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.features}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
	
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Requirements:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.require}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Communication:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.communication}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Completion:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.completion}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Final Product:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.finProd}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Payment:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.payment}}<p>
				</div>
			</div>
	</div>
	<legend></legend>
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="inputArticleTitle"><h4>Subcontracting:</h4></label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
					<p>{{job.subCont}}<p>
				</div>
			</div>
	</div><hr>
    <div class="submit" ng-show="user.authentication">
        <tbody class="">  
          <tr>
            <td class="">
              <button class="btn btn-primary pull-right" ng-click="apply(job)"> Apply </button>
            </td>
          </tr>
        </tbody>
        <div class="">
            <a class="btn btn-primary" ng-href="/#!/jobs/jobs/{{job._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove()">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
    <div>
        <p></p>
    </div><br/><br/><br/>
      		
	<div class="navbar-default navbar-bottom navbar-fixed-bottom">
	  <div class="container-fluid text-center">
		<p class="text">website design/ logo <i class="glyphicon glyphicon-copyright-mark"></i> 2016 Ujobi Inc. </p>
	  </div>
	</div>
</section>
