<section data-ng-controller="SkillsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Skills</h1>
  </div>
    	<form class="row form-horizontal" data-ng-Submit="create()" novalidate>
            <fieldset>
                <div class="col-md-10 form-group">
                        <input type="text" id="companyName" name="companyName" class="form-control" ng-model="newSkill.skills" placeholder="Type skills, e.g., communication or android app developer..." autofocus>
                </div>
                <div class="col-md-2 text-center form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add skill</button>
                </div>
            </fieldset>
        </form>
    <div ng-repeat="skill in skills | orderBy:'created':true | filter:search" ng-class-odd="'odd'" ng-class-even="'even'" class="list-group-item" data-num-pages="numPages()">
        
        <!-- Text input-->
        <div class="row">
            <div class="col-md-10">
                <span ng-bind="skill.skills"></span>
            </div>
            <div  class="submit col-md-2" ng-show="authentication.user" data-ng-init="findOne()">
                <a class="btn btn-primary pull-right" ng-href="/#!/skills/skills/{{skill._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i> &nbsp 
                </a>
            </div>
        </div>
    </div>      		
</section>
