<section>
    <div class="page-header">
        <h1>Education</h1>
    </div>
  <div data-ng-controller="EducationsController" data-ng-init="findOne()">
       
    <div class="list-group">
        <div class="header">
            <h4 ng-bind="education.schoolName"></h4>
        </div><hr>
        <small>
            <em class="text-muted">
            Posted on
            <span ng-bind="education.created | date:'mediumDate'"></span>
            </em>
        </small><br/><br/>
	<!-- Text input-->
	<div class="row">
		<div class="">
		<label class="col-md-4 control-label" for="degree">Degree:</label>
			<div class="col-md-8">
                <span ng-bind="education.degree"></span>
			</div>
		</div>
	</div><br/>
	
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="major">Major field of study:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <span ng-bind="education.major"></span>
				</div>
			</div>
	</div><br/>
    
			<!-- Text input-->
	<div class="row form-group">
		<label class="col-md-4 control-label" for="location">Location:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <p>
                    <span ng-bind="education.city"></span>,
                    <span ng-bind="education.state"></span>,
                    <span ng-bind="education.country"></span> -
                    <span ng-bind="education.zip"></span>
					</p>
				</div>
			</div>
	</div>			
	<hr>
   </div>
    <div class="submit" ng-show="authentication">
        <div class="">
            <a class="btn btn-primary" ng-href="/#!/educations/educations/{{education._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove()">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
 </div><br/><br/><br/>

</section>
