
<section><br/><br/>
    <div data-ng-controller="UserprofilesController" data-ng-init="findOne()">
        <div class="jumbotron row">
            <div class="col-md-2">
                <img ng-src="/{{current_profileImageURL}}" alt="{{vm.authentication.userprofile.displayName}}" style="width:150px; height:150px;" class="header-profile-image" />
            </div>
            <div class="col-md-offset-2 col-md-6 text-center">
                <h1><span ng-bind="userprofile.user.displayName"></span></h1>      
                <p>Some text that represents "Me"...</p>
            </div>
        </div>
        <div class="page-header">
            <h1>Personal Information</h1>
        </div>
    <div><span ng-bind="ram"></span> email is</div>
      <div>
        <div class="list-group-item" data-num-pages="numPages()">

        <div class="list-group">
          <div class="header">
            <h3 ng-if="userprofile.user" ng-bind="userprofile.user.displayName"></h3>
          </div><hr>
              <small>
                <em class="text-muted">
                  Posted on
                  <span ng-bind="userprofile.created | date:'mediumDate'"></span>
                </em>
              </small><br><br>
        <!-- Text input-->
        <div class="row">
            <label class="col-md-4 control-label" for="">Job category:</label>
                <div class="col-md-8">
                    <span ng-bind="userprofile.category"></span>
                </div>
        </div><br/>
        <!-- Text input-->
        <div class="row">
            <div class="">
            <label class="col-md-4 control-label" for="">Mobile Phone:</label>
                <div class="col-md-8">
                    <span ng-bind="userprofile.mobilePhone"></span>
                </div>
            </div>
        </div><br/>
        
            <!-- Text input-->
        <div class="row">
            <label class="col-md-4 control-label" for="inputArticleTitle">Work Phone:</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span ng-bind="userprofile.workPhone"></span>
                    </div>
                </div>
        </div><br/>
            
                <!-- Text input-->
        <div class="row form-group">
            <label class="col-md-4 control-label" for="inputArticleTitle">Address:</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span ng-bind="userprofile.address1"></span><small>,&nbsp </small>
                        <span ng-bind="userprofile.address2"></span>
                    </div>
                </div>
        </div>
        
                <!-- Text input-->
        <div class="row form-group">
            <label class="col-md-4 control-label" for="inputArticleTitle">Location:</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span ng-bind="userprofile.city"></span><small>,&nbsp </small>
                        <span ng-bind="userprofile.state"></span><small>,&nbsp </small>
                        <span ng-bind="userprofile.country"></span><small> - </small>
                        <span ng-bind="userprofile.zip"></span>
                    </div>
                </div>
        </div>
      </div>	
        <div class="submit"  ng-show="user.authentication">
                <a class="btn btn-primary" ng-href="/#!/userprofiles/userprofiles/{{userprofile._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
        </div>
      </div>
      </div>
    </div>
        <div id="userjobs">
            <div ng-include="'/modules/userprofiles/client/views/userjobs/list-userjob.client.view.html'">
            </div>
        </div>
        <div id="skills">
            <div ng-include="'/modules/userprofiles/client/views/skills/list-skill.client.view.html'">
            </div>
        </div>
        </div>
        <div id="projects">
            <div ng-include="'/modules/userprofiles/client/views/projects/list-project.client.view.html'">
            </div>
        </div>
        <div id="educations">
            <div ng-include="'/modules/userprofiles/client/views/educations/list-education.client.view.html'">
            </div>
        </div>
        <div id="achievements">
            <div ng-include="'/modules/userprofiles/client/views/achievements/list-achievement.client.view.html'">
            </div>
        </div>
    <div><br><br><br><br></div>  
  
	<div class="navbar-default navbar-bottom navbar-fixed-bottom">
	  <div class="container-fluid text-center">
		<p class="text">website design/ logo <i class="glyphicon glyphicon-copyright-mark"></i> 2016 Ujobi Inc. </p>
	  </div>
	</div>
</section>
