<section><br><br>
  <div class="row">
    <nav class="col-sm-3 col-md-3" id="mySidenav" class="sidenav">
      <ul class="nav nav-pills nav-stacked affix">
        <li ui-sref-active="active">
          <a data-toggle="pill" ng-href="#userprofiles">Personal Information</a>
        </li>
        <li ui-sref-active="">
          <a data-toggle="pill" ng-href="#projects">Projects</a>
        </li>
        <li ui-sref-active="">
          <a data-toggle="pill" ng-href="#educations">Education</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 tab-content settings-view">
        <div id="userprofiles">
            <div><br/><br/><br/><br/>
            </div>
        </div>
        <div class="active">
            <div ng-include="'/modules/userprofiles/client/views/raxit.html'">
            </div>
        </div>
        <div id="projects">
            <div ng-include="'/modules/userprofiles/client/views/projects/list-project.client.view.html'">
            </div>
        </div>
        <div id="educations">
            <div ng-include="'/modules/userprofiles/client/views/educations/list-education.client.view.html'">
            </div>
        </div>
<!---->
    </div>
  </div><br/><br/><br/><br/>
</section>
