<section data-ng-controller="AchievementsController"  data-ng-init="findOne()">
    <div class="page-header">
        <h1>Achievements</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="achievement">Achievement Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="achievement.achievementName" id="achievement" class="form-control" placeholder="Achievement name...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="title">Title:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="achievement.title" id="title" class="form-control" placeholder="title...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="award">Award or Recognition:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="achievement.award" id="award" class="form-control" placeholder="award or recognition...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="desc">Description:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="achievement.desc" id="desc" class="form-control" placeholder="description of work done...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="reference">Reference:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="achievement.reference" id="reference" class="form-control" placeholder="references...">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                    <a class="btn btn-primary" data-ng-click="remove()">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form><br/><br/>
    </div>
          		
	<div class="navbar-default navbar-bottom navbar-fixed-bottom">
	  <div class="container-fluid text-center">
		<p class="text">website design/ logo <i class="glyphicon glyphicon-copyright-mark"></i> 2016 Ujobi Inc. </p>
	  </div>
	</div>
</section>