<section>
    <div class="page-header">
        <h1>Achievements and Awards</h1>
    </div>
        <div class="row">
            <a class="btn btn-lg pull-right" ng-href="/#!/achievements/create">
               <i class="glyphicon glyphicon-plus"></i> Add new 
            </a>
        </div>
  <div data-ng-controller="AchievementsController" data-ng-init="find()">
    <div ng-repeat="achievement in achievements | orderBy:'created':true | filter:search" ng-class-odd="'odd'" ng-class-even="'even'" class="list-group-item" data-num-pages="numPages()">
       
    <div class="list-group">
        <div class="header">
            <h4 ng-bind="achievement.achievementName"></h4>
        </div><hr>
        <small>
            <em class="text-muted">
            Posted on
            <span ng-bind="achievement.created | date:'mediumDate'"></span>
            </em>
        </small><br/><br/>
	<!-- Text input-->
	<div class="row">
		<div class="">
		<label class="col-md-4 control-label" for="title">Title:</label>
			<div class="col-md-8">
                <span ng-bind="achievement.title"></span>
			</div>
		</div>
	</div><br/>
    
	<!-- Text input-->
	<div class="row">
		<div class="">
		<label class="col-md-4 control-label" for="award">Award or Recognition:</label>
			<div class="col-md-8">
                <span ng-bind="achievement.award"></span>
			</div>
		</div>
	</div><br/>
	
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="desc">Description:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <span ng-bind="achievement.desc"></span>
				</div>
			</div>
	</div><br/>
    
		<!-- Text input-->
	<div class="row">
		<label class="col-md-4 control-label" for="reference">Reference:</label>
			<div class="col-md-8 inputGroupContainer">
				<div class="input-group">
                    <span ng-bind="achievement.reference"></span>
				</div>
			</div>
	</div><br/>
	<hr>
   </div>
    <div class="submit" ng-show="authentication"  data-ng-init="findOne()">
            <a class="btn btn-primary" ng-href="/#!/achievements/achievements/{{achievement._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
    </div>
  </div>
 </div><br/><br/><br/>
</section>
