<section data-ng-controller="ProjectsController"  data-ng-init="findOne()">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="company">Company Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.company" id="company" class="form-control" placeholder="company name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="school">University or School:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.school" id="school" class="form-control" placeholder="university or the school name...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="team">Team</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.team" id="team" class="form-control" placeholder="team members...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="desc">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.desc" id="desc" class="form-control" placeholder="Description of what were the responsibilities and what was accomplished...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Link:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.website" id="website" class="form-control" placeholder="link to the project...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fileName">File:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.fileName" idfileNameteam" class="form-control" placeholder="file name...">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                    <a class="btn btn-primary" data-ng-click="remove()">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form><br/><br/>
    </div>
          		
	<div class="navbar-default navbar-bottom navbar-fixed-bottom">
	  <div class="container-fluid text-center">
		<p class="text">website design/ logo <i class="glyphicon glyphicon-copyright-mark"></i> 2016 Ujobi Inc. </p>
	  </div>
	</div>
</section>